
rules_version = '2';

function isAdmin() {
  return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.email == 'admin@rally.world';
}

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
    }
    
    match /users/{document=**} {
      allow list: if request.auth != null && isAdmin();
    }

    match /events/{eventId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.resource.data.organizerId == request.auth.uid;
    }
  }
}
